In [59]:
# Importando bibliotecas
import pandas as pd
import numpy as np

In [60]:
# Carregando o dataset
df = pd.read_csv('ca-2004-01.csv', sep=';')
df.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,11/05/2004,"1,967","1,6623",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,11/05/2004,"0,899","0,6282",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,11/05/2004,"1,299","1,1704",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,10/05/2004,"1,85","1,67",R$ / litro,BRANCA
4,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,10/05/2004,"0,78","0,48",R$ / litro,BRANCA

In [61]:
# Nomes das colunas
df.columns

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Numero Rua', 'Complemento', 'Bairro',
       'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira'],
      dtype='object')

In [62]:
# Renomeando colunas
df = df.rename(columns={'Regiao - Sigla': 'Regiao', 'Estado - Sigla': 'UF'})
df.columns

Index(['Regiao', 'UF', 'Municipio', 'Revenda', 'CNPJ da Revenda',
       'Nome da Rua', 'Numero Rua', 'Complemento', 'Bairro', 'Cep', 'Produto',
       'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira'],
      dtype='object')

In [63]:
# Renomeando as siglas para o nome de cada região
df['Regiao'] = df['Regiao'].str.replace('SE', 'SUDESTE').replace('S', 'SUL').replace('CO', 
                'CENTRO-OESTE').replace('N', 'NORTE').replace('NE', 'NORDESTE')
df.head(10)

,Regiao,UF,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SUDESTE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,11/05/2004,"1,967","1,6623",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SUDESTE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,11/05/2004,"0,899","0,6282",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SUDESTE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,11/05/2004,"1,299","1,1704",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SUDESTE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,10/05/2004,"1,85","1,67",R$ / litro,BRANCA
4,SUDESTE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,10/05/2004,"0,78","0,48",R$ / litro,BRANCA
5,SUDESTE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,DIESEL,10/05/2004,"1,29","1,216",R$ / litro,BRANCA
6,CENTRO-OESTE,DF,BRASILIA,GASOL COMBUSTÍVEIS AUTOMOTIVOS LTDA.,00.603.738/0001-43,"QI-QUADRA INTERNA 18 LOTES 47, 49, 51 E 53",S/N,NaN,TAGUATINGA,72315-000,GASOLINA,10/05/2004,"2,03","1,7021",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
7,CENTRO-OESTE,DF,BRASILIA,GASOL COMBUSTÍVEIS AUTOMOTIVOS LTDA.,00.603.738/0001-43,"QI-QUADRA INTERNA 18 LOTES 47, 49, 51 E 53",S/N,NaN,TAGUATINGA,72315-000,ETANOL,10/05/2004,"1,29","0,8437",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
8,CENTRO-OESTE,DF,BRASILIA,GASOL COMBUSTÍVEIS AUTOMOTIVOS LTDA.,00.603.738/0001-43,"QI-QUADRA INTERNA 18 LOTES 47, 49, 51 E 53",S/N,NaN,TAGUATINGA,72315-000,DIESEL,10/05/2004,"1,46","1,2487",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
9,NORDESTE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,GASOLINA,11/05/2004,"1,91","1,7059",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [64]:
# Selecionando apenas as linhas com o produto gasolina
produtos = ['GASOLINA']
df_filt_produto = df[df['Produto'].isin(produtos)]
df_filt_produto.head(10)

,Regiao,UF,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SUDESTE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,11/05/2004,"1,967","1,6623",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SUDESTE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,10/05/2004,"1,85","1,67",R$ / litro,BRANCA
6,CENTRO-OESTE,DF,BRASILIA,GASOL COMBUSTÍVEIS AUTOMOTIVOS LTDA.,00.603.738/0001-43,"QI-QUADRA INTERNA 18 LOTES 47, 49, 51 E 53",S/N,NaN,TAGUATINGA,72315-000,GASOLINA,10/05/2004,"2,03","1,7021",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
9,NORDESTE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,GASOLINA,11/05/2004,"1,91","1,7059",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
12,SUDESTE,RJ,NITEROI,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0033-81,AVENIDA ROBERTO SILVEIRA,205,NaN,ICARAÍ,24230-151,GASOLINA,10/05/2004,"2,039","1,7916",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
14,SUDESTE,RJ,MACAE,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0052-44,RUA CONSELHEIRO ALMEIDA PEREIRA,303,NaN,PRAIA CAMPISTA,27923-510,GASOLINA,11/05/2004,"2,15","1,8799",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
17,SUDESTE,MG,SAO SEBASTIAO DO PARAISO,REDE DE POSTOS ZERO IV LTDA.,00.883.226/0001-88,RODOVIA BR 491 KM 03,3101,NaN,ITAMARATI,37950-000,GASOLINA,10/05/2004,"1,89",NaN,R$ / litro,EXXEL
20,SUL,RS,SANTA MARIA,SANTA LUCIA COMERCIO E PAVIMENTACOES LTDA,87.305.868/0001-88,RODOVIA RS 509,1200,KM 03,JOÃO GOULART,97095-000,GASOLINA,10/05/2004,"2,25","1,695",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
23,SUL,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,GASOLINA,12/05/2004,"1,99","1,7281",R$ / litro,LIQUIGÁS
26,NORTE,AC,CRUZEIRO DO SUL,E. D. SILVA & FILHO LTDA - ME,04.096.504/0001-08,MARGEM ESQUERDA DO RIO JURUA,S/N,FLUTUANTE,CENTRO,69980-000,GASOLINA,10/05/2004,"2,41","1,8799",R$ / litro,BRANCA

In [65]:
df_filt_produto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100031 entries, 0 to 281526
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao             100031 non-null  object
 1   UF                 100031 non-null  object
 2   Municipio          100031 non-null  object
 3   Revenda            100031 non-null  object
 4   CNPJ da Revenda    100031 non-null  object
 5   Nome da Rua        100031 non-null  object
 6   Numero Rua         99973 non-null   object
 7   Complemento        32777 non-null   object
 8   Bairro             99753 non-null   object
 9   Cep                100031 non-null  object
 10  Produto            100031 non-null  object
 11  Data da Coleta     100031 non-null  object
 12  Valor de Venda     100031 non-null  object
 13  Valor de Compra    72608 non-null   object
 14  Unidade de Medida  100031 non-null  object
 15  Bandeira           100031 non-null  object
dtypes: object(16)
memory usage: 13.0+ MB

In [66]:
# Tratando coluna 'Valor de Venda'
df_filt_produto['Valor de Venda'] = df_filt_produto['Valor de Venda'].str.replace(',', '.').astype(float)

C:\Users\User\AppData\Local\Temp\ipykernel_5476\29210688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filt_produto['Valor de Venda'] = df_filt_produto['Valor de Venda'].str.replace(',', '.').astype(float)

In [67]:
# Converte a coluna 'Data da Coleta' para o tipo datetime
df_filt_produto['Data da Coleta'] = pd.to_datetime(df_filt_produto['Data da Coleta'], dayfirst=True)
df_filt_produto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100031 entries, 0 to 281526
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao             100031 non-null  object
 1   UF                 100031 non-null  object
 2   Municipio          100031 non-null  object
 3   Revenda            100031 non-null  object
 4   CNPJ da Revenda    100031 non-null  object
 5   Nome da Rua        100031 non-null  object
 6   Numero Rua         99973 non-null   object
 7   Complemento        32777 non-null   object
 8   Bairro             99753 non-null   object
 9   Cep                100031 non-null  object
 10  Produto            100031 non-null  object
 11  Data da Coleta     100031 non-null  datetime64[ns]
 12  Valor de Venda     100031 non-null  float64
 13  Valor de Compra    72608 non-null   object
 14  Unidade de Medida  100031 non-null  object
 15  Bandeira           100031 non-null  object
dtypes: datetime64[ns](1), float64(1), object(14)
memory usage: 13.0+ MB

C:\Users\User\AppData\Local\Temp\ipykernel_5476\1128176595.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filt_produto['Data da Coleta'] = pd.to_datetime(df_filt_produto['Data da Coleta'], dayfirst=True)

In [68]:
# Preço médio por estado
df_media_por_uf = df_filt_produto.groupby(['Regiao', 'UF'])['Valor de Venda'].mean().reset_index()

# Renomeando as colunas para ficar mais claro
df_media_por_uf.columns = ['Regiao', 'UF', 'Valor Medio']

df_media_por_uf

          Regiao  UF  Valor Medio
0   CENTRO-OESTE  DF     2.052200
1   CENTRO-OESTE  GO     2.017948
2   CENTRO-OESTE  MS     2.132728
3   CENTRO-OESTE  MT     2.377592
4       NORDESTE  AL     2.145592
5       NORDESTE  BA     2.073925
6       NORDESTE  CE     2.162119
7       NORDESTE  MA     2.028170
8       NORDESTE  PB     2.044610
9       NORDESTE  PE     2.030039
10      NORDESTE  PI     2.121217
11      NORDESTE  RN     2.021984
12      NORDESTE  SE     1.985053
13         NORTE  AC     2.377569
14         NORTE  AM     2.048095
15         NORTE  AP     2.207699
16         NORTE  PA     2.280301
17         NORTE  RO     2.318653
18         NORTE  RR     1.997579
19         NORTE  TO     2.092760
20       SUDESTE  ES     2.037866
21       SUDESTE  MG     2.007181
22       SUDESTE  RJ     2.034444
23       SUDESTE  SP     1.927131
24           SUL  PR     2.006665
25           SUL  RS     2.171760
26           SUL  SC     2.112033

In [69]:
# Quantidade de postos pesquisados por estado
df_qtd_postos_por_uf = df_filt_produto.groupby(['Regiao', 'UF'])['CNPJ da Revenda'].count().reset_index()

# Renomeando as colunas para ficar mais claro
df_qtd_postos_por_uf.columns = ['Regiao', 'UF', 'Qtd Postos Pesquisados']

df_qtd_postos_por_uf

          Regiao  UF  Qtd Postos Pesquisados
0   CENTRO-OESTE  DF                    1093
1   CENTRO-OESTE  GO                    3133
2   CENTRO-OESTE  MS                    1392
3   CENTRO-OESTE  MT                    1573
4       NORDESTE  AL                     851
5       NORDESTE  BA                    3871
6       NORDESTE  CE                    2584
7       NORDESTE  MA                    1525
8       NORDESTE  PB                    1143
9       NORDESTE  PE                    3836
10      NORDESTE  PI                     839
11      NORDESTE  RN                    1112
12      NORDESTE  SE                     511
13         NORTE  AC                     397
14         NORTE  AM                    1005
15         NORTE  AP                     389
16         NORTE  PA                    1662
17         NORTE  RO                     851
18         NORTE  RR                     409
19         NORTE  TO                     603
20       SUDESTE  ES                    2533
21       SUDESTE  MG                   10381
22       SUDESTE  RJ                    8573
23       SUDESTE  SP                   33047
24           SUL  PR                    6104
25           SUL  RS                    6467
26           SUL  SC                    4147

In [70]:
# Preço máximo por estado
df_vlr_max_por_uf = df_filt_produto.groupby(['Regiao', 'UF'])['Valor de Venda'].max().reset_index()

# Renomeando as colunas para ficar mais claro
df_vlr_max_por_uf.columns = ['Regiao', 'UF', 'Valor Maximo']

df_vlr_max_por_uf

          Regiao  UF  Valor Maximo
0   CENTRO-OESTE  DF         2.150
1   CENTRO-OESTE  GO         2.345
2   CENTRO-OESTE  MS         2.710
3   CENTRO-OESTE  MT         2.740
4       NORDESTE  AL         2.300
5       NORDESTE  BA         2.610
6       NORDESTE  CE         2.450
7       NORDESTE  MA         2.480
8       NORDESTE  PB         2.230
9       NORDESTE  PE         2.360
10      NORDESTE  PI         2.290
11      NORDESTE  RN         2.260
12      NORDESTE  SE         2.170
13         NORTE  AC         2.850
14         NORTE  AM         2.480
15         NORTE  AP         2.680
16         NORTE  PA         2.620
17         NORTE  RO         2.890
18         NORTE  RR         2.180
19         NORTE  TO         2.500
20       SUDESTE  ES         2.390
21       SUDESTE  MG         2.380
22       SUDESTE  RJ         2.599
23       SUDESTE  SP         2.399
24           SUL  PR         2.600
25           SUL  RS         2.590
26           SUL  SC         2.430

In [71]:
# Preço mínimo por estado
df_vlr_min_por_uf = df_filt_produto.groupby(['Regiao', 'UF'])['Valor de Venda'].min().reset_index()

# Renomeando as colunas para ficar mais claro
df_vlr_min_por_uf.columns = ['Regiao', 'UF', 'Valor Minimo']

df_vlr_min_por_uf

          Regiao  UF  Valor Minimo
0   CENTRO-OESTE  DF         1.730
1   CENTRO-OESTE  GO         1.800
2   CENTRO-OESTE  MS         1.940
3   CENTRO-OESTE  MT         2.000
4       NORDESTE  AL         2.000
5       NORDESTE  BA         1.780
6       NORDESTE  CE         1.930
7       NORDESTE  MA         1.650
8       NORDESTE  PB         1.690
9       NORDESTE  PE         1.770
10      NORDESTE  PI         1.940
11      NORDESTE  RN         1.790
12      NORDESTE  SE         1.779
13         NORTE  AC         1.850
14         NORTE  AM         1.770
15         NORTE  AP         2.080
16         NORTE  PA         1.890
17         NORTE  RO         1.890
18         NORTE  RR         1.900
19         NORTE  TO         1.750
20       SUDESTE  ES         1.770
21       SUDESTE  MG         1.739
22       SUDESTE  RJ         1.700
23       SUDESTE  SP         1.529
24           SUL  PR         1.720
25           SUL  RS         1.789
26           SUL  SC         1.770

In [72]:
# Agrupando por 'UF' e pegando o início (min) e fim (max) do período
df_periodos = df_filt_produto.groupby(['Regiao', 'UF'])['Data da Coleta'].agg(['min', 'max']).reset_index()

# Renomeando as colunas para ficar mais claro
df_periodos.columns = ['Regiao', 'UF', 'Data Inicial', 'Data Final']
df_periodos

          Regiao  UF Data Inicial Data Final
0   CENTRO-OESTE  DF   2004-05-10 2004-06-29
1   CENTRO-OESTE  GO   2004-05-10 2004-06-30
2   CENTRO-OESTE  MS   2004-05-10 2004-06-30
3   CENTRO-OESTE  MT   2004-05-10 2004-06-30
4       NORDESTE  AL   2004-05-10 2004-06-30
5       NORDESTE  BA   2004-05-10 2004-06-30
6       NORDESTE  CE   2004-05-10 2004-06-30
7       NORDESTE  MA   2004-05-10 2004-06-30
8       NORDESTE  PB   2004-05-10 2004-06-29
9       NORDESTE  PE   2004-05-10 2004-06-30
10      NORDESTE  PI   2004-05-10 2004-06-30
11      NORDESTE  RN   2004-05-10 2004-06-30
12      NORDESTE  SE   2004-05-10 2004-06-29
13         NORTE  AC   2004-05-10 2004-06-30
14         NORTE  AM   2004-05-10 2004-06-30
15         NORTE  AP   2004-05-10 2004-06-30
16         NORTE  PA   2004-05-10 2004-06-30
17         NORTE  RO   2004-05-10 2004-06-30
18         NORTE  RR   2004-05-10 2004-06-30
19         NORTE  TO   2004-05-10 2004-06-30
20       SUDESTE  ES   2004-05-10 2004-06-30
21       SUDESTE  MG   2004-05-10 2004-06-30
22       SUDESTE  RJ   2004-05-10 2004-06-30
23       SUDESTE  SP   2004-05-10 2004-06-30
24           SUL  PR   2004-05-10 2004-06-30
25           SUL  RS   2004-05-10 2004-06-30
26           SUL  SC   2004-05-10 2004-06-30

In [74]:
# Concatenando todos os dataframes
dfs = [df_qtd_postos_por_uf, df_periodos, df_vlr_min_por_uf, df_vlr_max_por_uf, df_media_por_uf]
colunas_comuns = ['Regiao', 'UF']
lista_para_juntar = [dfs[0]] + [d.drop(columns=colunas_comuns) for d in dfs[1:]]

# Concatenando tudo horizontalmente (axis=1)
df_final = pd.concat(lista_para_juntar, axis=1)
df_final

,Regiao,UF,Qtd Postos Pesquisados,Data Inicial,Data Final,Valor Minimo,Valor Maximo,Valor Medio
0,CENTRO-OESTE,DF,1093,2004-05-10,2004-06-29,1.730,2.150,2.052200
1,CENTRO-OESTE,GO,3133,2004-05-10,2004-06-30,1.800,2.345,2.017948
2,CENTRO-OESTE,MS,1392,2004-05-10,2004-06-30,1.940,2.710,2.132728
3,CENTRO-OESTE,MT,1573,2004-05-10,2004-06-30,2.000,2.740,2.377592
4,NORDESTE,AL,851,2004-05-10,2004-06-30,2.000,2.300,2.145592
5,NORDESTE,BA,3871,2004-05-10,2004-06-30,1.780,2.610,2.073925
6,NORDESTE,CE,2584,2004-05-10,2004-06-30,1.930,2.450,2.162119
7,NORDESTE,MA,1525,2004-05-10,2004-06-30,1.650,2.480,2.028170
8,NORDESTE,PB,1143,2004-05-10,2004-06-29,1.690,2.230,2.044610
9,NORDESTE,PE,3836,2004-05-10,2004-06-30,1.770,2.360,2.030039
10,NORDESTE,PI,839,2004-05-10,2004-06-30,1.940,2.290,2.121217
11,NORDESTE,RN,1112,2004-05-10,2004-06-30,1.790,2.260,2.021984
12,NORDESTE,SE,511,2004-05-10,2004-06-29,1.779,2.170,1.985053
13,NORTE,AC,397,2004-05-10,2004-06-30,1.850,2.850,2.377569
14,NORTE,AM,1005,2004-05-10,2004-06-30,1.770,2.480,2.048095
15,NORTE,AP,389,2004-05-10,2004-06-30,2.080,2.680,2.207699
16,NORTE,PA,1662,2004-05-10,2004-06-30,1.890,2.620,2.280301
17,NORTE,RO,851,2004-05-10,2004-06-30,1.890,2.890,2.318653
18,NORTE,RR,409,2004-05-10,2004-06-30,1.900,2.180,1.997579
19,NORTE,TO,603,2004-05-10,2004-06-30,1.750,2.500,2.092760
20,SUDESTE,ES,2533,2004-05-10,2004-06-30,1.770,2.390,2.037866
21,SUDESTE,MG,10381,2004-05-10,2004-06-30,1.739,2.380,2.007181
22,SUDESTE,RJ,8573,2004-05-10,2004-06-30,1.700,2.599,2.034444
23,SUDESTE,SP,33047,2004-05-10,2004-06-30,1.529,2.399,1.927131
24,SUL,PR,6104,2004-05-10,2004-06-30,1.720,2.600,2.006665
25,SUL,RS,6467,2004-05-10,2004-06-30,1.789,2.590,2.171760
26,SUL,SC,4147,2004-05-10,2004-06-30,1.770,2.430,2.112033